PostMeClient/Connected Services/PostMeService/PostMeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PostMeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/PostMeService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/PostMeService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/PostMeService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PostMeService.Types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPostMeService_getUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_getUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_addUser_InputMessage">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_addUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_removeUser_InputMessage">
    <wsdl:part name="parameters" element="tns:removeUser" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_removeUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_updateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUser" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_updateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_getPost_InputMessage">
    <wsdl:part name="parameters" element="tns:getPost" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_getPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPostResponse" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_addPost_InputMessage">
    <wsdl:part name="parameters" element="tns:addPost" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_addPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPostResponse" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_removePost_InputMessage">
    <wsdl:part name="parameters" element="tns:removePost" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_removePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:removePostResponse" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_updatePost_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePost" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_updatePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePostResponse" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_filterPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:filterPosts" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_filterPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:filterPostsResponse" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_getComment_InputMessage">
    <wsdl:part name="parameters" element="tns:getComment" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_getComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_addComment_InputMessage">
    <wsdl:part name="parameters" element="tns:addComment" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_addComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_removeComment_InputMessage">
    <wsdl:part name="parameters" element="tns:removeComment" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_removeComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_updateComment_InputMessage">
    <wsdl:part name="parameters" element="tns:updateComment" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_updateComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_filterComments_InputMessage">
    <wsdl:part name="parameters" element="tns:filterComments" />
  </wsdl:message>
  <wsdl:message name="IPostMeService_filterComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:filterCommentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPostMeService">
    <wsdl:operation name="getUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostMeService/getUser" message="tns:IPostMeService_getUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostMeService/getUserResponse" message="tns:IPostMeService_getUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostMeService/addUser" message="tns:IPostMeService_addUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostMeService/addUserResponse" message="tns:IPostMeService_addUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostMeService/removeUser" message="tns:IPostMeService_removeUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostMeService/removeUserResponse" message="tns:IPostMeService_removeUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostMeService/updateUser" message="tns:IPostMeService_updateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostMeService/updateUserResponse" message="tns:IPostMeService_updateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostMeService/getPost" message="tns:IPostMeService_getPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostMeService/getPostResponse" message="tns:IPostMeService_getPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostMeService/addPost" message="tns:IPostMeService_addPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostMeService/addPostResponse" message="tns:IPostMeService_addPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removePost">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostMeService/removePost" message="tns:IPostMeService_removePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostMeService/removePostResponse" message="tns:IPostMeService_removePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePost">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostMeService/updatePost" message="tns:IPostMeService_updatePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostMeService/updatePostResponse" message="tns:IPostMeService_updatePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filterPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostMeService/filterPosts" message="tns:IPostMeService_filterPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostMeService/filterPostsResponse" message="tns:IPostMeService_filterPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostMeService/getComment" message="tns:IPostMeService_getComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostMeService/getCommentResponse" message="tns:IPostMeService_getComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostMeService/addComment" message="tns:IPostMeService_addComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostMeService/addCommentResponse" message="tns:IPostMeService_addComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostMeService/removeComment" message="tns:IPostMeService_removeComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostMeService/removeCommentResponse" message="tns:IPostMeService_removeComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostMeService/updateComment" message="tns:IPostMeService_updateComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostMeService/updateCommentResponse" message="tns:IPostMeService_updateComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filterComments">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostMeService/filterComments" message="tns:IPostMeService_filterComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostMeService/filterCommentsResponse" message="tns:IPostMeService_filterComments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPostMeService" type="tns:IPostMeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/IPostMeService/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/IPostMeService/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <soap:operation soapAction="http://tempuri.org/IPostMeService/removeUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="http://tempuri.org/IPostMeService/updateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPost">
      <soap:operation soapAction="http://tempuri.org/IPostMeService/getPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <soap:operation soapAction="http://tempuri.org/IPostMeService/addPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removePost">
      <soap:operation soapAction="http://tempuri.org/IPostMeService/removePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePost">
      <soap:operation soapAction="http://tempuri.org/IPostMeService/updatePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filterPosts">
      <soap:operation soapAction="http://tempuri.org/IPostMeService/filterPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComment">
      <soap:operation soapAction="http://tempuri.org/IPostMeService/getComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <soap:operation soapAction="http://tempuri.org/IPostMeService/addComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeComment">
      <soap:operation soapAction="http://tempuri.org/IPostMeService/removeComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateComment">
      <soap:operation soapAction="http://tempuri.org/IPostMeService/updateComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filterComments">
      <soap:operation soapAction="http://tempuri.org/IPostMeService/filterComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostMeService">
    <wsdl:port name="BasicHttpBinding_IPostMeService" binding="tns:BasicHttpBinding_IPostMeService">
      <soap:address location="http://localhost:8733/PostMeService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>